.usa-footer-primary-section
  .usa-grid-full
    %nav.usa-footer-nav
      %ul.usa-unstyled-list
        %li.usa-width-one-fourth.usa-footer-primary-content
          %a.usa-footer-primary-link{:href => "javascript:void(0);"} Primary link
        %li.usa-width-one-fourth.usa-footer-primary-content
          %a.usa-footer-primary-link{:href => "javascript:void(0);"} Permanently relevant
        %li.usa-width-one-fourth.usa-footer-primary-content
          %a.usa-footer-primary-link{:href => "javascript:void(0);"} Easy to understand
        %li.usa-width-one-fourth.usa-footer-primary-content
          %a.usa-footer-primary-link{:href => "javascript:void(0);"} Site policies (example)