%section.usa-section
  .usa-grid
    %h2 Section heading
    %p.usa-font-lead Everything up to this point should help people understand your agency or project: who you are, your goal or mission, and how you approach it. Use this section to encourage them to act. Describe why they should get in touch here, and use an active verb on the button below. “Get in touch,” “Learn more,” and so on.
    %a.usa-button.usa-button-big{:href => "#"} Call to action