%header.usa-banner-header
  .usa-grid.usa-banner-inner
    = image_tag('wds18f/favicons/favicon-57.png', alt: 'U.S. flag')
    %p An official website of the United States government
    %button.usa-accordion-button.usa-banner-button{"aria-controls" => "gov-banner", "aria-expanded" => "false"}
      %span.usa-banner-button-text Here's how you know