.usa-accordion-button,
.usa-accordion > ul button,
.usa-accordion-bordered > ul button {
  background-image: url("/assets/wds18f/minus.png");
  background-image: url("/assets/wds18f/minus.svg");
}

.usa-accordion > ul [aria-expanded=false],
.usa-accordion-bordered > ul [aria-expanded=false] {
  background-image: url("/assets/wds18f/plus.png");
  background-image: url("/assets/wds18f/plus.svg");
}

.usa-accordion-button[aria-expanded=false] {
  background-image: url("/assets/wds18f/plus.png");
  background-image: url("/assets/wds18f/plus.svg");
}

.usa-alert-success {
  background-color: #e7f4e4;
  background-image: url("/assets/wds18f/alerts/success.png");
  background-image: url("/assets/wds18f/alerts/success.svg");
}

.usa-alert-warning {
  background-color: #fff1d2;
  background-image: url("/assets/wds18f/alerts/warning.png");
  background-image: url("/assets/wds18f/alerts/warning.svg");
}

.usa-alert-error {
  background-color: #f9dede;
  background-image: url("/assets/wds18f/alerts/error.png");
  background-image: url("/assets/wds18f/alerts/error.svg");
}

.usa-alert-info {
  background-color: #e1f3f8;
  background-image: url("/assets/wds18f/alerts/info.png");
  background-image: url("/assets/wds18f/alerts/info.svg");
}

.usa-banner-button[aria-expanded=false]::after {
  background-image: url('/assets/wds18f/angle-arrow-down-primary.png');
  background-image: url('/assets/wds18f/angle-arrow-down-primary.svg');
}

.usa-banner-button[aria-expanded=false]:hover::after {
  background-image: url('/assets/wds18f/angle-arrow-down-primary-hover.png');
  background-image: url('/assets/wds18f/angle-arrow-down-primary-hover.svg');
}

.usa-banner-button[aria-expanded=true]::after {
  background-image: url('/assets/wds18f/close.png');
  background-image: url('/assets/wds18f/close.svg');
}

.usa-footer-big ul .usa-footer-primary-link {
  background-image: url("/assets/wds18f/arrow-down.png");
  background-image: url("/assets/wds18f/arrow-down.svg");
}

.usa-footer-big ul.hidden .usa-footer-primary-link {
  background-image: url("/assets/wds18f/arrow-right.png");
  background-image: url("/assets/wds18f/arrow-right.svg");
}

.usa-link-facebook {
  background-image: url("/assets/wds18f/social-icons/png/facebook25.png");
  background-image: url("/assets/wds18f/social-icons/svg/facebook25.svg");
}

.usa-link-twitter {
  background-image: url("/assets/wds18f/social-icons/png/twitter16.png");
  background-image: url("/assets/wds18f/social-icons/svg/twitter16.svg");
}

.usa-link-youtube {
  background-image: url("/assets/wds18f/social-icons/png/youtube15.png");
  background-image: url("/assets/wds18f/social-icons/svg/youtube15.svg");
}

.usa-link-rss {
  background-image: url("/assets/wds18f/social-icons/png/rss25.png");
  background-image: url("/assets/wds18f/social-icons/svg/rss25.svg");
}

.usa-checklist-checked::before {
  background-image: url("/assets/wds18f/correct9.png");
  background-image: url("/assets/wds18f/correct9.svg");
}

.usa-hero {
  background-image: url("/assets/wds18f/hero.jpg");
}

.usa-nav-primary button[aria-expanded=false] {
  background-image: url("/assets/wds18f/plus-alt.png");
  background-image: url("/assets/wds18f/plus-alt.svg");
}

.usa-search [type="submit"],
.usa-search .usa-search-submit {
  background-image: url("/assets/wds18f/search.png");
  background-image: url("/assets/wds18f/search.svg");
}

select {
  background-image: url("/assets/wds18f/arrow-down.png");
  background-image: url("/assets/wds18f/arrow-down.svg");
}

[type="checkbox"]:checked + label::before {
  background-image: url("/assets/wds18f/correct8.png");
  background-image: url("/assets/wds18f/correct8.svg");
}

.usa-external_link::after {
  background: url("/assets/wds18f/external-link.png") no-repeat 0 0;
  background: url("/assets/wds18f/external-link.svg") no-repeat 0 0;
}

.usa-external_link:hover::after {
  background-image: url("/assets/wds18f/external-link-hover.png");
  background-image: url("/assets/wds18f/external-link-hover.svg");
}

.usa-external_link-alt::after {
  background: url("/assets/wds18f/external-link-alt.png") no-repeat 0 0;
  background: url("/assets/wds18f/external-link-alt.svg") no-repeat 0 0;
}

.usa-external_link-alt:hover::after {
  background-image: url("/assets/wds18f/external-link-alt-hover.png");
  background-image: url("/assets/wds18f/external-link-alt-hover.svg");
}

.usa-nav-primary button[aria-expanded=true] {
  background-image: url("/assets/wds18f/minus-alt.png");
  background-image: url("/assets/wds18f/minus-alt.svg");
}

@media screen and (min-width: 481px) {
  .usa-banner-button[aria-expanded=true]::after {
    background-image: url('/assets/wds18f/angle-arrow-up-primary.png');
    background-image: url('/assets/wds18f/angle-arrow-up-primary.svg');
  }
  .usa-banner-button[aria-expanded=true]:hover::after {
    background-image: url('/assets/wds18f/angle-arrow-up-primary-hover.png');
    background-image: url('/assets/wds18f/angle-arrow-up-primary-hover.svg');
  }
  .usa-search.usa-search-small [type="submit"],
  .usa-search.usa-search-small .usa-search-submit {
    background-image: url("/assets/wds18f/search.png");
    background-image: url("/assets/wds18f/search.svg");
  }
}

@media screen and (min-width: 951px) {
  .usa-nav-primary button[aria-expanded=false] {
    background-image: url("/assets/wds18f/angle-arrow-down.png");
    background-image: url("/assets/wds18f/angle-arrow-down.svg");
  }

  .usa-nav-primary button[aria-expanded=true] {
    background-image: url("/assets/wds18f/angle-arrow-down-hover.png");
    background-image: url("/assets/wds18f/angle-arrow-down-hover.svg");
  }
  .usa-nav-secondary-links .usa-header-search-button {
    background-image: url("/assets/wds18f/search-alt.png");
    background-image: url("/assets/wds18f/search-alt.svg");
  }
}